{{>navbar}}

<h1>Carrito {{cart._id}}</h1>

<div class="go-back-btn">
    <a href="/products">Volver</a>
</div>

{{#if cart}}
<table>
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>Acciones</th>
    </tr>

{{#each cart.products}}
<tr>
    <td>{{_id}}</td>
    <td>{{productId.code}}</td> <!-- Asegúrate de que productId.code esté definido -->
    <td>{{productId.title}}</td>
    <td>{{productId.description}}</td>
    <td>{{productId.category}}</td>
    <td>${{productId.price}}</td>
    <td>
        <input type="number" value="{{quantity}}" min="1" id="quantity-{{productId.code}}"> <!-- Cambiar el id a productId.code -->
        <button onclick="updateProductQuantity('{{productId.code}}')">Actualizar cantidad</button> <!-- Cambiar a productId.code -->
    </td>
    <td>${{subtotal}}</td>
    <td><button onclick="removeProduct('{{_id}}')">Eliminar</button></td>
</tr>
{{/each}}



</table>

<h2>Total del carrito ${{cart.total}}</h2>

<div></div>
    <button id="confirmPurchase" onclick="confirmPurchase()">Confirmar Compra</button>
</div>

{{else}}
<h2>No hay productos en el carrito</h2>
{{/if}}

<script src="/static/js/products.js"></script>
