{{>navbar}}

<h1>Carrito ID</h1>

<div class="go-back-btn">
    <a href="/products">Volver</a>
</div>

{{#if cart}}
<table>
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
    </tr>

    {{#each cart.products.payload}}
    <tr>
        <td>{{this.productId._id}}</td>
        <td>{{this.product.code}}</td>
        <td>{{this.product.title}}</td>
        <td>{{this.product.description}}</td>
        <td>{{this.product.category}}</td>
        <td>${{this.product.price}}</td>
        <td>{{this.product.quantity}}</td>
        {{!-- <td>${{this.productId.price * this.quantity}}</td> --}}
    </tr>
    {{/each}}
</table>

<h2>Total del carrito ${{cart.total}}</h2>

{{else}}
<h2>No hay productos en el carrito</h2>
{{/if}}

<script src="/static/js/products.js"></script>
