{{>navbar}}

<h1>Carrito ID {{cart._id}}</h1>

<div class="go-back-btn">
    <a href="/products">Volver</a>
</div>

{{#if cart.products}}
<table>
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
    </tr>

    {{#each cart.products.docs}}
    <tr>
        <td>{{this.productId._id}}</td>
        <td>{{this.productId.code}}</td>
        <td>{{this.productId.title}}</td>
        <td>{{this.productId.description}}</td>
        <td>{{this.productId.category}}</td>
        <td>${{this.productId.price}}</td>
        <td>{{this.quantity}}</td>
        <td>${{multiply this.quantity this.productId.price}}</td>
    </tr>
    {{/each}}
</table>

<h2>Total del carrito ${{cart.total}}</h2>

{{else}}
<h2>No hay productos en el carrito</h2>
{{/if}}

<script src="/static/js/products.js"></script>