{{>navbar}}
{{#if user}}
    <div class="welcome-message">
        <p>Bienvenido, {{user.first_name}} {{user.last_name}}!</p>
        <form id="logoutForm" action="/api/sessions/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
{{/if}}

<h1>Lista Productos</h1>

<button class="view-cart-btn" id="view-cart" onclick="viewCart()">Ver carrito</button>

<table>
    <tr>
        <th>Id:</th>
        <th>Título:</th>
        <th>Descripción:</th>
        <th>Código:</th>
        <th>Precio:</th>
        <th>Estado:</th>
        <th>Stock:</th>
        <th>Categoría:</th>
        <th>Imágenes:</th>
        <th>Acciones:</th>
    </tr>

    {{#each products.docs}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.code}}</td>
            <td>${{this.price}}</td>
            <td>{{this.status}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td>
                <img src="{{this.thumbnail}}" alt="{{this.title}}" style="width: 100px; height: auto;" />
            </td>
            <td>
                {{#if this.stock}}
                    <button class="add-to-cart-btn" data-product-id="{{this._id}}" onclick="addProductToCart(this.dataset.productId)">Agregar al carrito</button>
                {{else}}
                    <button class="add-to-cart-btn" disabled>No disponible</button>
                {{/if}}
            </td>
        </tr>
    {{/each}}
</table>


<div class="pagination">
    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><<</a>
    {{/if}}

    <p>{{products.page}} de {{products.totalPages}}</p>

    {{#if products.hasNextPage}}
        <a href={{products.nextLink}}>>></a>
    {{/if}}
</div>


<script src="/static/js/products.js"></script>
<script src="/static/js/logout.js"></script>