{{>navbar}}
{{#if user}}
    <div class="welcome-message">
        <p>Bienvenido, {{user.first_name}} {{user.last_name}}!</p>
        <form id="logoutForm" action="/api/sessions/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
{{/if}}

<h1>Lista Productos</h1>

<button class="view-cart-btn" id="view-cart" onclick="viewCart()">Ver carrito</button>

<table>
    <tr>
        <th>Id:</th>
        <th>Título:</th>
        <th>Descripción:</th>
        <th>Código:</th>
        <th>Precio:</th>
        <th>Estado:</th>
        <th>Stock:</th>
        <th>Categoría:</th>
        <th>Imágenes:</th>
    </tr>

    {{#each products.docs}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.code}}</td>
            <td>${{this.price}}</td>
            <td>{{this.status}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td>{{this.thumbnail}}</td>
            <td>
                <button class="add-to-cart-btn" id="add-to-cart" onclick="addProductToCart('{{_id}}')">Agregar al carrito</button>
            </td>
        </tr>
    {{/each}}
</table>

<div class="pagination">
    {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><<</a>
    {{/if}}

    <p>{{products.page}} de {{products.totalPages}}</p>

    {{#if products.hasNextPage}}
        <a href={{products.nextLink}}>>></a>
    {{/if}}
</div>


<script src="/static/js/products.js"></script>
<script src="/static/js/logout.js"></script>